input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  border-color: #000;
}

.checkbox {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: #eae7dc;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.checkboxActive {
  border-color: #eae7dc;
  background: #eae7dc;
}

.label {
  display: flex;
  align-items: center;
}
