.layout {
  background-color: #eae7dc;
  min-width: 400px;
  min-height: 600px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e85a4f;
  background: #e85a4f;
  color: #323232;
  font-weight: normal;
  /* #e98074; */
}
